<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.uc.itest.dao.mapper.HttpSchemeMapper" >
    <resultMap id="HttpSchemeMapper" type="cn.uc.itest.model.HttpScheme" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="method" property="method" jdbcType="VARCHAR" />
        <result column="interface_id" property="interfaceId" jdbcType="VARCHAR" />
    </resultMap>
</mapper>