<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.uc.itest.dao.mapper.UnitCaseMapper" >
    <resultMap id="UnitCaseMapper" type="cn.uc.itest.model.UnitCase" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="interface_id" property="interfaceId" jdbcType="VARCHAR" />
        <result column="match_mode" property="matchMode" jdbcType="TINYINT" />
        <result column="expect_value" property="expectValue" jdbcType="LONGVARCHAR" />
    </resultMap>
</mapper>